#app{
    font-family: 'Sen','san-serif';
}
.router-link-exact-active{
    font-weight: bold;
}

.card-product{
    border-radius: 15px;
}

.card-img-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.breadcrumb{
    background-color: transparent;
    padding: 0;
}

.breadcrumb-item.active{
    font-weight: bold;
}

.img-fluid{
    border-radius: 15px;
}